<div id="<%= dom_id order %>" class="w-full sm:w-auto space-y-5">
  <div>
    <strong class="block font-medium mb-1"><%= t('.name') %>:</strong>
    <%= order.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1"><%= t('.address') %>:</strong>
    <%= order.address %>
  </div>
  <div>
    <strong class="block font-medium mb-1"><%= t('.email') %>:</strong>
    <%= order.email %>
  </div>
  <div>
    <strong class="block font-medium mb-1"><%= t('.pay_type') %>:</strong>
    <%= order.pay_type %>
  </div>
</div>
