<%= form_with model: product, html: { class: "space-y-6" } do |form| %>
  <div>
    <%= form.label :name, class: "block mb-2 text-sm font-medium text-gray-900" %>
    <div class="mt-2">
      <%= form.text_field :name, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5", placeholder: t(".name_placeholder") %>
    </div>
  </div>

  <div>
    <%= form.label :featured_image, class: "block mb-2 text-sm font-medium text-gray-900" %>
    <div class="mt-2">
      <%= form.file_field :featured_image, accept: "image/*", class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5", placeholder: t(".featured_image_placeholder") %>
    </div>
  </div>

  <div>
    <%= form.label :description, class: "block mb-2 text-sm font-medium text-gray-900" %>
    <div class="mt-2">
      <%= form.rich_text_area :description, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5", placeholder: t(".description_placeholder") %>
    </div>
  </div>

  <div>
    <%= form.label :inventory_count, class: "block mb-2 text-sm font-medium text-gray-900" %>
    <div class="mt-2">
      <%= form.number_field :inventory_count, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5", placeholder: t(".inventory_count_placeholder") %>
    </div>
  </div>
  
  <div>
    <%= form.label :price, class: "block mb-2 text-sm font-medium text-gray-900" %>
    <div class="mt-2">
      <%= form.number_field :price, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5", placeholder: t(".price_placeholder") %>
    </div>
  </div>

  <div class="flex justify-between gap-6">
    <%= link_to t(".cancel_button"), products_path, class: "flex w-full items-center justify-center rounded-md border border-gray-300 bg-white px-6 py-2 text-base font-medium text-gray-900 hover:bg-gray-50 focus:ring-2 focus:ring-gray-500 focus:ring-offset-2 focus:outline-hidden" %>
    <%= form.submit t(".submit_button"), class: "flex w-full items-center justify-center rounded-md border border-transparent bg-indigo-600 px-6 py-2 text-base font-medium text-white hover:bg-indigo-700 focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 focus:outline-hidden" %>    
  </div>
<% end %>