<h1>New review for <%= @product.name %></h1>

<%= form_with model: @review do |form| %>

  <div>
    <%= form.label :rating %>
    <%= form.number_field :rating, in: 1..5 %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.rich_text_area :description %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>

<%= link_to "Cancel", products_path %>