<!DOCTYPE html>
<html class="h-full bg-gray-100">
  <head>
    <title><%= content_for(:title) || t('application.title') %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="h-full">
    <nav class="h-12 bg-(--color-primary)">
      <div class="max-w-7xl px-6 mx-auto flex justify-between items-center h-full">
        <%= link_to root_path, class: "text-blue-500 hover:text-blue-700" do %>
          <%= image_tag "/logo.svg", alt: t('application.nav.home'), class: "h-8" %>
        <% end %>
        
        <% if authenticated? %>
          <%= button_to t('application.nav.logout'), session_path, method: :delete, class: "font-medium text-red-600 underline dark:text-red-500 hover:no-underline" %>
        <% else %>
          <%= link_to t('application.nav.login'), new_session_path, class: "font-medium text-blue-600 underline dark:text-blue-500 hover:no-underline" %>
        <% end %>
      </div>
    </nav>
    <main class="h-full max-w-7xl mx-auto p-6">      
      <% if notice.present? %>
        <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
      <% end %>

      <% if alert.present? %>
        <p class="py-2 px-3 bg-red-50 mb-5 text-red-500 font-medium rounded-md inline-block" id="alert"><%= alert %></p>
      <% end %>
      <%= yield %>
    </main>
  </body>
</html>
